<section class="flex flex-col items-center mt-20 py-10 bg-royal-blue text-white text-center">
    <div class="p-4">
        <h1 class="font-extrabold text-3xl pb-5">Oi, eu sou Heder. Prazer em te conhecer!</h1>
        <h2>
            Tenho 20 anos e deixei minha cidade para seguir meu sonho na área de tecnologia.
            Atualmente, estou no 4º semestre do curso de Bacharelado em Sistemas de Informação
            em Vitória da Conquista. Minha paixão por tecnologia e desenvolvimento me leva a 
            trabalhar em projetos pessoais, onde tenho me dedicado principalmente ao uso de Angular
            e Spring Boot. Sou uma pessoa curiosa e constantemente busco aprimorar minhas habilidades,
            sempre em busca de novos desafios e oportunidades para crescer na área de desenvolvimento.
        </h2>
    </div>
</section>
