<header class="container p-6 flex flex-col items-center gap-16">
    <div class="flex justify-between items-center">
        <img class="w-1/6" src="../../../assets/Volkswagen-logo-80097D61AA-seeklogo.com.png" alt="">
        <nav><img src="../../../assets/icon-menu.svg" alt=""></nav>
    </div>

    <div class="flex flex-col justify-center items-center pt-10 gap-9 text-midnight-blue px-5">
        <h1 class="text-4xl font-bold">Desenvolvedor <br> <span class="flex justify-center">Full - Stack</span> </h1>
        <h2 class="text-center text-lg">Desenvolvo para front e back, criando soluções simples e elegantes, e amo o que faço.</h2>
    </div>

    <div>
        <img class="w-48 animate-smooth-up-down" src="../../../assets/heder-dev.png" alt="">
    </div>

    <div class="flex gap-10">
        <img src="../../../assets/linkedin.svg" alt="">
        <img src="../../../assets/github.svg" alt="">
        <img src="../../../assets/cv.svg" alt="">
    </div>
</header>
