<section class="container flex flex-col items-center gap-12">
    <div class="flex flex-col justify-center items-center pt-8 gap-9 text-midnight-blue px-5">
        <h1 class="text-4xl font-bold">Desenvolvedor <br> <span class="flex justify-center">Full - Stack</span> </h1>
        <h2 class="text-center text-lg">Desenvolvo para front end e back end, criando soluções simples e elegantes, e amo o que faço.</h2>
    </div>
    
    <div>
        <img class="w-40 animate-smooth-up-down" src="../../../assets/heder-dev.png" alt="">
    </div>
    
    
    

</section>
