<div class="container flex justify-center pt-10 gap-10">
    <a href="https://www.linkedin.com/in/hederdavid/" target="_blank"
       class="transform hover:-translate-y-1 transition duration-300">
        <img class="w-14" src="../../../assets/linkedin.svg" alt="Ícone LinkedIn">
    </a>

    <a href="https://github.com/hederdavid" target="_blank"
       class="transform hover:-translate-y-1 transition duration-300">
        <img class="w-14" src="../../../assets/github.svg" alt="Ícone GitHub">
    </a>

    <a href="../../../assets/curriculo-hederdev.pdf" target="_blank"
       class="transform hover:-translate-y-1 transition duration-300">
        <img class="w-14" src="../../../assets/cv.svg" alt="Ícone baixar CV">
    </a>
</div>
